
@using NewsEngine.UserInfo;

@{    
    ViewBag.Title = "RazorTest";
    List<SomeoneInfo> names = new List<SomeoneInfo>();
    names.Add(new SomeoneInfo() { Name = "Иванов", Age = 18, DateOfBirth = new DateTime(2015, 10, 1)});
    names.Add(new SomeoneInfo() { Name = "Петров", Age = 20, DateOfBirth = new DateTime(2015, 11, 1) });
    names.Add(new SomeoneInfo() { Name = "Сидоров", Age = 25, DateOfBirth = new DateTime(2015, 12, 1) });
}

<h2>RazorTest</h2>

<p>Список</p>

<ol>
    @{
        foreach (SomeoneInfo name in names)
        {
            <li>@(name.Name) @(name.Age) @(name.DateOfBirth.ToString("dd.MM.yyyy"))</li>
        }
    }
</ol>

<p>Таблица</p>

<table>
    <tr>
        <th>Имя</th>
        <th>Возраст</th>
        <th>Дата рождения</th>
    </tr>
    @{
        foreach (SomeoneInfo name in names)
        {
            <tr>
                <td>@(name.Name)</td>
                <td>@(name.Age)</td>
                <td>@(name.DateOfBirth.ToString("dd.MM.yyyy"))</td>
            </tr>
        }
    }
</table>

