@using NewsEngine.Models;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Текущая дата", "Index", "Pages")</li>
                    <li>@Html.ActionLink("Обо мне", "About", "Pages")</li>
                    <li>@Html.ActionLink("Тест движка", "RazorTest", "Pages")</li>*@
                    @*<li>@Html.ActionLink("Тест калькулятора (4+2=6)", "CalcTestAdd", "Calculator", new CalculatorModel{ X = 4d, Y = 2d, Operation = CalculatorModel.CalculatorOperation.Add }, null)</li>
                    <li>@Html.ActionLink("Калькулятор", "CalcForm", "Calculator")</li>*@
                    @if (User.IsInRole("admin"))
                    {
                        <li>@Html.ActionLink("Тестовая инициализация базы данных", "InitializeDB", "TestDB")</li>
                    }
                    @if (User.IsInRole("admin"))
                    {
                        <li>@Html.ActionLink("Добавить сообщение", "AddMessage", "TestDB")</li>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Показать список сообщений", "ShowMessages", "TestDB", null, null)</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
